@import '../../scss/variables';

.show{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.64);
  box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.64);

  &__curtain{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $show-curtain-color;
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 1;
  }

  &__img-wrapper{
    overflow: hidden;
    width: 100%;
    height: 43vw * 1.4;

    @media (min-width: $min-width){
        height: 295px;
    }
  }

  &__img{
    width: 100%;
    @media (min-width: $min-width){
      transition: transform 1s;
    }
  }

    &__empty-img{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 43vw;
    height: 43vw * 1.4;
    max-height: 295px;
    max-width: 210px;
    margin: 5px 16px 0 0;
    background: linear-gradient(to bottom left, rgb(250, 248, 255) 0%,rgb(149, 143, 171)  100%);
    color: $home-link-font-color;
    font-weight: 700;
  }

  &:hover >&__img-wrapper > &__img{
    @media (min-width: $min-width){
      transform: scale(1.07);
    }
  }

  &:hover >&__curtain{
    @media (min-width: $min-width){
      opacity: 1;
    }
  }

  &__rating{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rating-bcg-color;
    z-index: 2;

    @media (min-width: $min-width){
      width: 60px;
      height: 58px;
    }
  }

  &__rating-text{
    font-size: $rating-font-size-text-small;
    font-weight: 700;
    @media (min-width: $min-width){
      font-size: $rating-font-size-text-medium;
    }
  }

  &__rating-number{
    font-weight: 900;
    font-size: $rating-font-size-nr-small;
    color: $rating-font-color;
    @media (min-width: $min-width){
      font-size: $rating-font-size-nr-medium;
    }
  }

  &__title{
    margin: $text-margin 0;
    font-weight: 700;
    font-size: $title-font-size-small;
    padding: 0 $show-text-padding;

    @media (min-width: $min-width){
      font-size: $title-font-size-medium;
    }
  }

  &__interval{
    margin-bottom: $text-margin;
    padding: 0 $show-text-padding;
    font-size: $date-font-size-small;
    flex-grow: 1;
    @media (min-width: $min-width){
      font-size: $date-font-size-medium;
    }
  }

  &__genres{
    margin-bottom: $text-margin * 2;
    font-size: $date-font-size-small;
    padding: 0 $show-text-padding;
    @media (min-width: $min-width){
      font-size: $date-font-size-medium;
    }
  }

  &__channel{
    width: 100%;
    padding: 6px 0;
    color: $channel-font-color;
    background-color: $channel-bcg-color;
    text-align: center;
    font-size: $channel-font-size-small;

    @media (min-width: $min-width){
      font-size: $channel-font-size-medium;
    }
  }
}