@import '../../scss/variables.scss';

.main-show{
  min-height: calc(100vh - 320px);

  &__content{
    display: flex;
    flex-wrap: wrap;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $main-padding;
  }
 

  &__img{
    flex-basis: 43%;
    width: 43vw;
    max-width: 210px;
    height: 43vw * 1.4;
    max-height: 295px;
    margin: 5px 16px 0 0;
  }

  &__empty-img{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 43vw;
    height: 43vw * 1.4;
    max-height: 295px;
    max-width: 210px;
    margin: 5px 16px 0 0;
    background: $empty-img-bcg-gradient;
  }

  &__empty-img-text{
    color: $home-link-font-color;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__details{
    flex-basis: 40%;
    font-size: 0;
  }

  &__name{
    font-size: $title-font-size-medium;
    font-weight: 700;
    margin-bottom: 15px;

    @media (min-width: $medium-width){
      font-size: $title-font-size-large;
    }
  }

  &__country, &__interval{
    font-size: $date-font-size-medium;
    margin-bottom: $text-margin;

    @media (min-width: $medium-width){
      font-size: $date-font-size-large;
    }
  }

 &__genres{
    font-size: $date-font-size-medium;
    color: $country-font-color;
    margin-bottom: $text-margin;

    @media (min-width: $medium-width){
      font-size: $date-font-size-large;
    }
  }
  
  &__channel{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    padding: 4px 10px;
    color: $channel-font-color;
    background-color: $channel-bcg-color;
    font-size: $channel-font-size-small;

    @media (min-width: $medium-width){
      padding: 4px 14px;
    }
  }

  &__rating{
    font-weight: 900;
    background-color: $rating-bcg-color;
    font-size: $rating-font-size-nr-medium;
    color: $rating-font-color;
    margin-top: 2px;

    &-span{
      vertical-align: middle;
      font-size:$channel-font-size-small;
      font-weight: 700;
    }
  }

  &__description{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: $main-description-font-size;
  }

  &__full-cast{
    display: block;
    width: 100%;
    max-width: $max-width;
    text-align: right;
    margin: 0 auto 40px auto;
    padding-right: 20px;
    font-weight: 700;
    color: $rating-font-color;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover{
     color:black;
    }

    @media (min-width: $medium-width){
      padding-right: 100px;
    }
  }
}
