@import '../../scss/variables.scss';

.seasons{
  max-width: $max-width;
  min-height: calc(100vh - 320px);
  margin: 0 auto;
  padding-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__se-wrapper{
    width: 100%;

    @media (min-width: $min-width){
      width: 48%;
    }
  }

  &__se-nr{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.635);
    background: $season-nr-bcg-gradient;
    font-weight: 700;
    -webkit-box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
    box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
  }

  &__se-name{
    padding: 0 $main-padding;
    display: grid;
    grid-template-columns: 35px 1fr;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.4s;

    &:nth-last-child(1){
      margin-bottom: 60px;
    }

    &--nr{
      font-size: $season-name-font-size;
      color: $country-font-color;
      transition: 0.2s;
    }

    &--text{
      transition: 0.2s;
    }

    &:hover > &--nr {
      @media(min-width: $min-width){
      font-weight: bold;
      color: $rating-font-color;
      }
    }

    &:hover > &--text {
      color: $rating-font-color;
      font-weight: bold;
    }
  }
}