@import '../../scss/variables.scss';

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: $popup-bcg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  opacity: 0;
  animation: opacity-popup 0.15s forwards;

  @keyframes opacity-popup{
    0%{
      opacity: 0;
     }
   
     100%{
      opacity: 1;
     }
   }

  &__wrapper{
    position: relative;
    text-align: right;
    width: 95vw;
    max-width: 400px;
    max-height: 80vh;
    padding: 0 15px 45px 15px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    background-color: white;
    overflow: auto;
    transform: rotateX(90deg);
    animation: rotate-wrapper 0.15s forwards;
    z-index: 4;

    @keyframes rotate-wrapper{
      0%{
        transform: rotateX(90deg);
       }
     
       100%{
        transform: rotateX(0deg);
       }
     }
  }

  &__close{
    position: sticky;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    cursor: pointer;
  }

  &__img{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 140px;
  }

  &__empty-img{
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 140px;
    background: $empty-img-bcg-gradient;
  }

  &__empty-img-text{
    color: $home-link-font-color;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &__title{
    text-align: center;
    font-size: $popup-title-font-size;
    font-weight: 700;
    margin: 160px 0 10px 0;

  }

  &__date{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    color: $country-font-color;
    margin-bottom: 10px;
  }

  &__summary{
    text-align: left;
  }

  &__no-description{
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    color: $home-link-font-color;
  }
}
