@import '../../scss/variables.scss';

.header{
  position: relative;
  text-align: center;
  height: 100px;
  padding: 0 $main-padding;
  margin-bottom: 70px; 
  background-color: $header-bcg-color;

  &__title{
    padding-top: $header-margin-top;
    color: $header-font-color;
    font-size: $header-font-size;
  }
}