@import '../../scss/variables.scss';

.search{
  margin-top: 40px;

  &__form{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 48px;
    margin: 0 auto;

    @media (min-width: $medium-width){
      height: 40px;
    }
  }

  &__input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: $input-font-size;
    border: 1px solid $search-border-color;
  }

  &__input:focus{
    -webkit-box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
    box-shadow: 5px 5px 16px -9px rgba(0, 0, 0, 0.61);
  }

  &__input::placeholder { 
    color: $search-border-color;
    opacity: 1;
  }
  
  &__input::-ms-input-placeholder {
    color: $search-border-color;
  }
  
  &__input::-ms-input-placeholder {
    color: $search-border-color;
  }

  &__button{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    overflow: hidden;
    outline: none;
    border: none;
    background-color: transparent;
    line-height: 0.8;
    cursor: pointer;
  }

  &__svg{
    width: 25px;
    filter: invert(69%) sepia(0%) saturate(14%) hue-rotate(14deg) brightness(88%) contrast(91%);
  }
}