//FONTS
$header-font-family: 'Bebas Neue', cursive;

//COLORS
$header-font-color: white;
$channel-bcg-color: #706e9e;
$rating-bcg-color: white;
$show-curtain-color: rgba(29, 29, 55, 0.268);
$channel-font-color: white;
$rating-font-color: #a60000;
$home-link-font-color: grey;
$country-font-color:grey;
$search-border-color: #969696;
$header-bcg-color: #39385d;
$header-bcg-gradient:  linear-gradient(165deg, rgb(109, 109, 179) 0%, rgb(26, 25, 52) 100%);
$empty-img-bcg-gradient: linear-gradient(155deg, rgb(250, 248, 255,1) 0%, rgb(146, 143, 157) 100%);
$season-nr-bcg-color: rgb(103, 102, 149);
$season-nr-bcg-gradient: linear-gradient(170deg, rgb(244, 244, 246) 0%, rgb(222, 222, 226) 100%);
$popup-bcg-color: rgba(151, 151, 158, 0.841);

$footer-font-color: #c0c0c0;
$footer-bcg-color: linear-gradient(165deg, rgb(64, 64, 91) 0%, rgb(19, 19, 42) 100%);


//FONT_SIZES
$header-font-size: 1.2rem;
$header-margin-top: 28px;

$main-date-font-size: 0.9rem;
$main-description-font-size: 1rem;

$title-font-size-small: 1rem;
$title-font-size-medium: 1.3rem;
$title-font-size-large: 2rem;
$date-font-size-small: 0.6rem;
$date-font-size-medium: 0.8rem;
$date-font-size-large: 0.9rem;
$channel-font-size-small: 0.9rem;
$channel-font-size-medium: 1rem;
$rating-font-size-text-small: 0.5rem;
$rating-font-size-text-medium: 0.6rem;
$rating-font-size-nr-small: 1.1rem;
$rating-font-size-nr-medium: 1.4rem;

$input-font-size: 1.1rem;

$season-name-font-size: 1rem;
$season-number-font-size: 1.1rem;

$popup-title-font-size: 1.2rem;

$footer-font-size: 0.7rem;

//SIZES
$main-padding: 20px;
$text-margin: 6px;
$show-text-padding: 5px;
$max-width: 900px;
$seasons-width: 1200px;
$input-height-large: 42px;
$input-height-small: 40px;
$footer-margin-bottom: 10px;

//RESPONSIVE
$min-width: 480px;
$medium-width: 800px;
