//COLORS
$channel-bcg-colog: #4c4c6a;
$channel-font-color: white;
$rating-bcg-color: white;
$rating-font-color: rgb(167, 0, 0);
$show-curtain-color: rgba(29, 29, 55, 0.268);

//FONT_SIZES
$title-font-size-small: 1rem;
$title-font-size-medium: 1.3rem;
$date-font-size-small: 0.6rem;
$date-font-size-medium: 0.8rem;
$channel-font-size-small: 0.9rem;
$channel-font-size-medium: 1rem;
$rating-font-size-text-small: 0.5rem;
$rating-font-size-text-medium: 0.6rem;
$rating-font-size-nr-small: 1.1rem;
$rating-font-size-nr-medium: 1.4rem;

//SIZES
$text-margin: 6px;
$show-text-padding: 3px;

//RESPONSIVE
$min-width: 480px;
