//COLORS
$header-font-color: rgb(255, 255, 255);
$channel-bcg-color: #706e9e;
$rating-bcg-color: white;
$show-curtain-color: rgba(29, 29, 55, 0.268);
$channel-font-color: white;
$rating-font-color: rgb(167, 0, 0);
$home-link-font-color: grey;
$country-font-color:grey;
$search-border-color: #969696;
$header-bcg-color: #39385d;

//FONT_SIZES
$header-font-size: 1.2rem;
$header-margin-top: 26px;

$main-date-font-size: 0.9rem;
$main-description-font-size: 1rem;

$title-font-size-small: 1rem;
$title-font-size-medium: 1.3rem;
$title-font-size-large: 2rem;
$date-font-size-small: 0.6rem;
$date-font-size-medium: 0.8rem;
$date-font-size-large: 0.9rem;
$channel-font-size-small: 0.9rem;
$channel-font-size-medium: 1rem;
$rating-font-size-text-small: 0.5rem;
$rating-font-size-text-medium: 0.6rem;
$rating-font-size-nr-small: 1.1rem;
$rating-font-size-nr-medium: 1.4rem;

$input-font-size: 1.1rem;

//SIZES
$main-padding: 20px;
$text-margin: 6px;
$show-text-padding: 3px;
$max-width: 900px;
$input-height-large: 42px;
$input-height-small: 40px;

//RESPONSIVE
$min-width: 480px;
$medium-width: 800px;
