@import '../../scss/variables.scss';

.nav{
  display: flex;
  margin: 40px 0;
  justify-content: space-between;

  @media (min-width: $min-width){
    justify-content:flex-end;
  }

  &__link{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
  
    @media (min-width: $min-width){
      margin-right: 30px;
    }
  }

  &__link--home{
   color: $home-link-font-color;
  }
}

