@import '../../scss/variables.scss';

.nav{
  display: flex;
  margin: 0 auto 20px auto;
  padding: 0 $main-padding;
  justify-content: space-between;
  max-width: $max-width;

  @media (min-width: $min-width){
    justify-content:flex-end;
  }

  &__link{
    font-size: 1rem;
    font-weight: 600;
    color: $search-border-color;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
  
    @media (min-width: $min-width){
      margin-right: 30px;
    }
  }
}

.active{
  color: black;
  transform: scale(1.1);
}

